.content {
  //position: absolute;
  //left: 50%;
  padding: 0px 20px 0px 20px;
}

.check {
  align-items: center;
}
.left-panel {
  align-items: flex-end;
}
.right-panel {
  align-items: flex-start;
}
.center-panel {
  //align-items: center;
  // max-width: 50%;
  // width: 50%;
  // min-width: 50%;
}
